body {
    background-color: #1A4C99;
    overflow-x: hidden;
    text-align: center;
}

a {
    background-color: #FFFF00;
    width: 200px;
    margin: 2px auto;
    display: block;
    text-align: center;
    text-decoration: none;
    -webkit-text-fill-color: #1A4C99;
    border-radius: 10px;
}
