body {
    background-color: #1A4C99;
    overflow-x: hidden;
}

h2 {
    font: caption;
    text-align: center;
}

p {
    font: caption;
    text-align: center;
}

a {
    background-color: #FFFF00;
    width: 200px;
    margin: 2px auto;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center;
}

video {
    display: block;
    width: 640px;
    margin: 10px auto;   
    border: solid 10px #FFFF00;
    padding: 10px;
    text-align: center;
    padding: 10px;
}

iframe {
    display: block;
    width: 640px;
    margin: 10px auto;   
    border: solid 10px #FFFF00;
    padding: 10px;
    text-align: center;
    padding: 10px;
}



